#darkMode {
    background: transparent url("https://raw.githubusercontent.com/tanvir07-cell/dark-mode-react/main/src/components/assets/moon.png") no-repeat center;
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
  }
  
  #darkMode:hover,
  #darkMode:focus {
    filter: none;
    -webkit-filter: none;
    background-color: black;
    cursor: pointer;
  }
  
  #darkMode.clicked {
    filter: none !important;
    -webkit-filter: none !important;
    background-color: black;
  }